/* importar fontes */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* importar fontes */


/* importante */
* {
  color: aliceblue;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 1000vh;
  background-color: #13361d;
  color: aliceblue;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* importante */


/* ======= menu ======== */

#menu {
  margin: 0 10vw;
  color: rgb(250, 254, 255);
  align-items: center;
  justify-content: space-around;
  background-color: #205430;
  flex-direction: row;
  display: flex;
  width: 80vw;
  height: 7vh;
  top: 0px;
  position: fixed;
  z-index: 10;
  border-radius: 0 0 20px 20px;
}


@media screen and (max-width: 800px) {
  #menu {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

#menu div {
  width: 20vw;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  font-size: 1.2em;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  #menu div {
    width: auto;
    font-size: 0.7em;
  }
}

#menu div a {
  color: rgb(250, 254, 255);
  text-decoration: none;
}

/* estilos das classes da logo e da logo por id */
#logo-utp {
  position: fixed;
  top: 10px;
  transition: 0.5s ease-out;
}

/* enquanto tiver no banner fica grande */
.logo-utp-aberto {
  height: 11vh;
}

/* quando passar do tamanho maximo fica pequeno */
.logo-utp-fechado {
  top: 5px !important;
  height: 6vh;
}

/* Menu Background */

#menu-back {
  height: 7vh;
  width: 100vw;
  background-color: #205430;
  transition: 0.5s ease-in;
  z-index: 9;
  position: fixed;
}

/* enquanto tiver no banner fica pequeno */
.menu-back-aberto {
  opacity: 1;
}

/* quando passar do tamanho maximo fica grande */
.menu-back-fechado {
  opacity: 0;
}

@media screen and (max-width: 800px) {
  #logo-utp {
    position: absolute;
    transition: 0.5s ease-out;
  }


  /* enquanto tiver no banner fica grande */
  .logo-utp-aberto {
    height: 7vh;
  }

  /* quando passar do tamanho maximo fica pequeno */
  .logo-utp-fechado {
    height: 5vh;
  }

}

/* ======= menu ======== */


/* ======= Slider banners ======== */

#banners-section {
  background-color: transparent;
  min-height: 1vh;
}

@media screen and (max-width: 800px) {
  #banners-section {
    margin-top: 5vh;
  }
}


.slider-banners {
  width: 100vw;
  min-height: 10vh;
  overflow: hidden;
}

.slider-banners>div>img {
  width: 100%;
  user-select: none;
}

/* ======= Slider banners ======== */



/* ======= sobre ======== */

#sobre {
  width: 100vw;
  height: 100vh;
  background-color: #275D38;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap: no-wrap;

}

/* >>> divs*/
.div-sobre {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  color: #000;
  width: 10vw;
  height: 60vh;
  background-color: #fcfcfc;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: 0.5s ease-out;
}

/* >>> divs*/
.div-sobre-aberto {
  width: 60vw !important;
}

.div-sobre-select {
  width: 10vw;
  height: 60vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: 0.7s;
}

.div-sobre-select-fechado{
  opacity: 0;
  width: 0;
  transform: translateY(100%);
}

.div-sobre-select-img {
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  user-select: none;
}

.div-sobre-select-img>img {
  width: 100%;
}

.div-sobre-select-span {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  align-items: start;
  align-content: start;
  justify-content: start;
}

.div-sobre-select-span>div {
  transform: rotate(90deg);
  width: 100%;
}

.div-sobre-select-span>div>span {
  text-align: center;
  width: 100%;
  font-weight: 100%;
  height: auto;
  color: #000;
  font-size: 1.5em;
}

.div-sobre-texto {
  transition: 1s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 2%;
  width: 0;
  opacity: 0;
  overflow: hidden;
}

.div-sobre-texto > h2{
  font-size: 1.6em;
  text-align: center;
  color: #000;
}

.div-sobre-texto > p{
  margin: 5% auto;
  font-size: 1.5em;
  width: 80%;
  text-align: center;
  color: #000;
}

.div-sobre-texto-aberto {
  width: 100%;
  height: 100%;
  opacity: 1;
}


/* ======= sobre ======== */